<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h1>Add a New Recipe!</h1>
            <form action="/recipes/create" method="POST">
                <div>
                    <label for="name">Name</label>
                    <input type="text" name="name">
                    <label for="">Description</label>
                    <input type="text" name="description">
                    <label for="">Instruction</label>
                    <input type="text" name="instruction">
                </div>
                <div>
                    <label for="cooked_date">Date Cooked/Made</label>
                    <input type="datetime-local" name="cooked_date">
                    <label for="below30">Under 30 minutes?</label>
                    <input type="radio" id="yes" name="below30" value="Yes">
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="below30" value="no">
                    <label for="no">No</label>
                </div>
                <input type="submit">
            </form>
            
        </div>

    </div>
</body>
</html>