<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div>
            <h2>New Books</h2>
            <form action="/books">
                <div>
                    <label for="title">Name:</label>
                    <input type="text" name="title">
                    <label for="npage">Number of pages:</label>
                    <input type="text" name="npage">
                </div>
                <input type="submit" value="Create">
                <a href="/authors">Home</a>
            </form>
        </div>
        <div>
            <h2>All Books</h2>
            <div>
                {% for book in books %}
                <a href="/books/{{book.id}}">{{book.title}}</a>
                {% endfor %}
            </div>
            
        </div>
    </div>
</body>
</html>